ul {
    list-style-type: none;
    padding: 0;
    line-height: 60px;
    font-size: 15px;
    font-weight: 10px;
    text-align: center;
    position: fixed;
    width: 20%;
    margin-top:120px;
    
  }

  li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
  }
  li a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: red; /* Safari */
    text-decoration-color: red;
  }
